[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}


.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}


html {

	header{

	}

	body {

	}
}


.sign-in-form {
	a {
		text-decoration: none;
	}
}

