@import "me/structure-signin";

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
