
<ion-view title="Create account">
    <ion-content>

    	<div class="card padding-top">
			<div class="item item-text-wrap">
			    We try to keep it simple

			    <div class="list">
					<label class="item item-input item-floating-label">
					    <span class="input-label">Name</span>
					    <input type="text" placeholder="Name">
					</label>
					<label class="item item-input item-floating-label">
					    <span class="input-label">Password</span>
					    <input type="password" placeholder="Password">
					</label>
					<label class="item item-input item-floating-label">
					    <span class="input-label">Email</span>
					    <input type="text" placeholder="Email">
					</label>
				</div>
			</div>
		</div>

    	
	    
    </ion-content>
</ion-view>
