<!DOCTYPE html>
<html ng-app="CarboneIron">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>"CarboneIron"</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/structure-main.css">
    <link rel="stylesheet" href="styles/skin-main.css">
  </head>

  <body ng-controller="ApplicationController" animation="slide-left-right-ios7">

    <!--
      The nav bar that will be updated as we navigate between views
      Additional attributes set its look, ion-nav-bar animation and icons
      Icons provided by Ionicons: http://ionicons.com/
    -->
    <ion-nav-bar class="bar-positive" ng-hide="isSignInPage">
      <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back">
      </ion-nav-back-button>
      <ion-nav-buttons side="right" ng-if="currentUser">
      <button class="button" ng-cloak ng-click="userProfile()">
        {{ currentUser.name }}
      </button>
    </ion-nav-buttons>
    </ion-nav-bar>

    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view animation="slide-left-right-ios7">
    </ion-nav-view>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/collide/collide.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <script src="src/scripts/config.js"></script>
    <script src="src/scripts/app.js"></script>
    <script src="src/scripts/controllers.js"></script>
    <script src="src/scripts/services.js"></script>
    <script src="src/scripts/constants.js"></script>
    <script src="src/scripts/directives.js"></script>

    <script src="src/signin/controller.js"></script>
    <script src="src/signin/service.js"></script>
    <script src="src/signin/signin.js"></script>

    <script src="src/common/security/auth.js"></script>
    <script src="src/common/security/constants.js"></script>

    <div login-dialog ng-if="!isAuthorized"></div>
</body>
</html>
