
$primary-font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$primary-font-italic: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$primary-font-bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;


$secondary-font: Georgia, Times, "Times New Roman", serif;
$secondary-font-italic: Georgia, Times, "Times New Roman", serif;
$secondary-font-bold; Georgia, Times, "Times New Roman", serif;